xsdSchemas/utilizador/logar/index.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="login">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="email" type="xsd:string"/>
                <xsd:element name="passeword" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
     <xsd:element name="email">
        <xsd:simpleType>        
            <xsd:restriction base="xsd:string">
                <xsd:pattern value="[^@ \t\r\n]+@[^@ \t\r\n]+\.[^@ \t\r\n]+" />
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
</xsd:schema>